<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38710070893-h9ffhvtkeoscg8v0n5u1ffpefsg2roq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38710070893-h9ffhvtkeoscg8v0n5u1ffpefsg2roq8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>38710070893-e6fnbcbiacbk3eda5soa1n9o611bosb4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ8XqoFlNuWeOoOLVjUkWxOe5RpH_bIec</string>
	<key>GCM_SENDER_ID</key>
	<string>38710070893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sousoum.RobotConf</string>
	<key>PROJECT_ID</key>
	<string>android-makers-2019</string>
	<key>STORAGE_BUCKET</key>
	<string>android-makers-2019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38710070893:ios:1f7ab45ae77bae63923964</string>
	<key>DATABASE_URL</key>
	<string>https://android-makers-2019.firebaseio.com</string>
</dict>
</plist>